body {
  font-family: 'SF Pro Display', sans-serif;
  padding: 24px;
}

header {
  width: 100%;
  position: fixed;
  margin-right: 50px;
  z-index: 1000;
}

.case-page {
  margin-top: 72px;
}

.case-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteiner a {
  display: block;
}

.cv-button {
  background: #fff;
  padding: 8px 16px;
  border: 1px solid #000;
  border-radius: 20px;
}

.header-li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24px;
}

.header-li .small-p {
  margin-right: 24px;
}

.works-overlay {
  margin-bottom: 112px;
}

.case-image-block {
  display: flex;
  justify-content: center;
}

.case-image-block {
  margin-bottom: 24px;
}

.case-content-info-s {
  margin-top: 16px;
}

.intro {
  margin-bottom:64px;
}

.case-width {
  width: 100%;
  max-width: 1000px;
  min-width: 350px;
}

.iframe-container {
  position: relative;
  width: 100%;
  height:0;
  padding-bottom: 56.25%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.huge-p {
  font-size: 60px;
  margin-bottom: 48px;
}

.large-p {
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.01em;
}

.large-p:last-child {
  margin-bottom: 0;
}
.small-p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
}

.margin-top-64 {
  margin-top: 64px;
}

.text-block {
  width: 75%;
  min-width: 345px;
  max-width: 800px;
}

.text-gray {
  color: #808080;
}

.text-gray:hover {
  color: #2F2BF5;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.text-link {
  text-decoration: underline;
}

.margin-left-24px {
  margin-left: 24px;
  margin-top: 12px;
}

.link-to-social:not(:last-child) {
  margin-bottom: 24px;
}

@media screen and (max-width: 900px) {
  .case-secondary {
    width: calc(33% - 24px);
  }
  .large-p {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
  }


  .huge-p {
    font-size: 36px;
  }
}

@media screen and (max-width: 600px) {

  header {
    margin-right: 0px;
  }

  .mail {
    display: none;
  }

  .header-li .small-p {
    margin-right: 0px;
  }

  body {
    padding: 12px;
  }

  .case-image-block {
    margin-bottom: 12px;
  }

  .case-secondary {
    padding: 0 6px;
    margin-bottom: 12px;
  }
}
